{% extends 'base.html.twig' %}

{% block title %}SymfonyChat: Register{% endblock %}

{% block body %}
    {{ include('header.html.twig') }}

    <div class="container mt-5">
        <div class="title mb-3">
            <h1>{{ "registration.title"|trans }}</h1>
        </div>
        <div class="form">
            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}

            {{ form_row(registrationForm.firstname, {
                label: "registration.firstName"|trans
            }) }}

            {{ form_row(registrationForm.lastname, {
                label: "registration.lastName"|trans
            }) }}

            {{ form_row(registrationForm.email, {
                label: "registration.email"|trans
            }) }}

            {{ form_row(registrationForm.username, {
                label: "registration.username"|trans
            }) }}

            {{ form_row(registrationForm.plainPassword, {
                label: "registration.password"|trans
            }) }}

            <div class="terms d-flex align-items-baseline">
                {{ form_row(registrationForm.agreeTerms, {
                    label: "registration.iAgree"|trans
                }) }}
                <a class="ms-1 text-decoration-none" href="{{ path('app_terms') }}">{{ "registration.termsAndConditions"|trans }}</a>
            </div>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-success">{{ "registration.register"|trans }}</button>
            </div>

            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
