{% extends 'base.html.twig' %}

{% block title %}SymfonyChat: Home{% endblock %}

{% block body %}
    {{ include('header.html.twig') }}

    <div class="container mt-5">
        <div class="title">
            <div class="title-header d-flex align-items-center mb-2">
                <a class="bg-dark-subtle text-decoration-none rounded-5 d-flex align-items-center justify-content-center text-white border me-3" style="width: 40px; height: 40px;" href="{{ path('app_chat_index') }}"><i class="fas fa-arrow-left"></i></a>
                <h3 class="mb-0">Your requests</h3>
            </div>
            <p>A list of people who sent you message requests.</p>
        </div>
        <div class="sendRequestContent mt-4">
            <form action="{{ path('app_chat_requests_send') }}" method="post" class="d-flex align-items-center">
                <div class="inputBar border w-100 d-flex align-items-center bg-black rounded px-2" style="height: 50px;">
                    <div class="w-100 ps-1">
                        <input class="w-100 border-0 bg-transparent" style="outline: none;" id="messageContent" type="text" name="userQuery" placeholder="You can send message requests to your friends with their username or email." />
                    </div>
                    <div class="ms-auto">
                        <button type="submit" class="btn"><i class="fas fa-paper-plane"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="content mt-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">From</th>
                        <th scope="col">Requested at</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for messageRequest in requests %}
                        <tr class="align-middle">
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="{{ asset('assets/images/profilePicture.png') }}" class="me-2" height="40px" width="40px" style="border-radius: 50%;" alt="profilePicture">
                                    <span class="align-middle">{{ messageRequest.creator.username }}</span>
                                    {% if messageRequest.creator.verified %}
                                        <img width="17px" height="17px" class="ms-2 verifiedBadge" src="{{ asset('assets/images/verified.svg') }}" alt="verifiedIcon">
                                    {% endif %}
                                </div>
                            </td>
                            <td>{{ messageRequest.createdAt|date("d M Y H:i:s") }}</td>
                            <td>
                                <a class="btn btn-outline-success" href="{{ path('app_chat_requests_accept', { requestUid: messageRequest.id }) }}"><i class="fas fa-check-circle"></i></a>
                                <a class="btn btn-outline-danger" href="{{ path('app_chat_requests_decline', { requestUid: messageRequest.id }) }}"><i class="fas fa-xmark-circle"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}