<div class="recentChats p-4 bg-body-tertiary border border-end-0" style="min-width: 30%; height: 700px;">
    <div class="title">
        <h4>Nachrichten</h4>
    </div>
    <div class="searchBar my-3 bg-dark rounded border w-100 d-flex px-2" style="height: 38px;">
        <div class="searchIcon d-flex align-items-center h-100 justify-content-center">
            <i class="fas fa-magnifying-glass"></i>
        </div>
        <div class="searchInput ps-2 d-flex align-items-center w-100 h-100">
            <input class="w-100 bg-transparent border-0" style="outline: none;" type="text" placeholder="Suche..." />
        </div>
    </div>
    <div class="chats mt-3">
        {% set userCreatorChats = app.user.chats %}
        {% set userReceipientChats = app.user.receipientChats %}

        {% set userChats = userCreatorChats|merge(userReceipientChats) %}

        {% for chat in userChats %}
            {% if chat.receipient == app.user %}
                {% set chattingTo = chat.creator %}
            {% else %}
                {% set chattingTo = chat.receipient %}
            {% endif %}

            <div data-chatId="{{ chat.chatId }}" class="chat rounded border w-100 bg-dark p-2 mb-2 d-flex align-items-center position-relative" onclick="window.location.href = '{{ path('app_chat_view', { chatUid: chat.chatId }) }}'" style="cursor: pointer;">
                <div class="profilePicture">
                    <img height="45px" width="45px" class="rounded-5 object-fit-cover" src="{{ asset('assets/images/profilePicture.png') }}" alt="profilePicture">
                </div>
                <div class="userInfo d-flex flex-column justify-content-center ms-2">
                    <div class="username d-flex align-items-center">
                        <span class="mb-0 fw-medium" style="font-size: 14px;">{{ chattingTo.username }}</span>

                        {% if chattingTo.verified %}
                            <img width="17px" height="17px" class="ms-1" src="{{ asset('assets/images/verified.png') }}" alt="verifiedIcon">
                        {% endif %}
                    </div>
                    <div class="recentText d-flex text-truncate w-100" style="font-size: 14px; max-width: 170px;">
                        {{ chat.chatMessages|reverse|first.content|default('Es wurden noch keine Nachrichten ausgetauscht!') }}
                    </div>
                </div>

                {% set unreadMessagesLenth = chat.chatMessages|filter((message) => message.creator != app.user and message.seen == 0)|length %}
                <span class="unreadMessages position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{% if unreadMessagesLenth != 0 %}{{ unreadMessagesLenth }}{% endif %}</span>
            </div>
        {% endfor %}
    </div>
</div>