{% extends 'base.html.twig' %}

{% block javascripts %}
    <script defer src="{{ asset('assets/js/socket.io.js') }}"></script>
    <script defer src="{{ asset('assets/js/chat/view.js') }}"></script>
{% endblock %}

{% block body %}
    {{ include('header.html.twig') }}

    <input type="hidden" id="chatId" value="{{ chat.chatId }}" />

    {% if chat.receipient == app.user %}
        {% set chattingTo = chat.creator %}
    {% else %}
        {% set chattingTo = chat.receipient %}
    {% endif %}

    <div class="container mt-5">
        <div class="d-flex align-baseline">
            {{ include('chat/sidebar.html.twig', { backButton: true }) }}
            <div class="chatWindow w-100 border position-relative" style="width: 60%; height: 700px;">
                <div class="chatHeader px-2 w-100 bg-body-tertiary border-bottom position-absolute" style="z-index: 13; height: 55px;">
                    <div class="userInfo h-100">
                        <div class="h-100 d-flex align-items-center">
                            <div class="profilePicture">
                                <img class="rounded-circle" height="35px" width="35px" src="{{ asset('assets/images/profilePicture.png') }}" alt="profilePicture">
                            </div>
                            <div class="ms-2">
                                <span class="d-block text-muted">{{ chattingTo.username }}</span>
                            </div>

                            {% if chattingTo.verified %}
                                <img width="17px" height="17px" class="ms-1" src="{{ asset('assets/images/verified.png') }}" alt="verifiedIcon">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <img class="w-100 h-100 opacity-50 position-absolute" style="z-index: 11; pointer-events: none;" src="https://images.unsplash.com/photo-1533134486753-c833f0ed4866?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fG1pbmltYWwlMjBkYXJrfGVufDB8fDB8fHww" alt="chatBackground">
                <div id="chatContent" class="chatContent w-100 p-4 position-absolute" style="z-index: 12; height: calc(90% - 55px); top: 55px; overflow-y: scroll;">
                    {% if chat.chatMessages|length == 0 %}
                        <span class="d-flex justify-content-center mb-3">Es wurden noch keine Nachrichten ausgetauscht.</span>
                    {% else %}
                        {% for message in chat.chatMessages %}
                            {% if message.creator == app.user %}
                                <div class="recipientMessage ms-auto rounded bg-primary p-2 w-50 my-2">
                                    <div class="message text-end">
                                        <span>{{ message.content }}</span>
                                    </div>
                                </div>
                            {% else %}
                                <div class="recipientMessage rounded bg-black p-2 w-50 my-2">
                                    <div class="message">
                                        <span>{{ message.content }}</span>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="inputBar d-flex align-items-center bg-black position-absolute rounded px-2" style="bottom: 15px; width: 95%; height: 50px; left: 50%; transform: translateX(-50%); z-index: 12;">
                    <div class="w-100 ps-1">
                        <input class="w-100 border-0 bg-transparent" style="outline: none;" id="messageContent" type="text" placeholder="Schreibe eine Nachricht..." />
                    </div>
                    <div class="ms-auto">
                        <button id="sendMessageButton" class="btn"><i class="fas fa-paper-plane"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}