<!DOCTYPE html>
<html data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}SymfonyChat{% endblock %}</title>

        <link rel="icon" href="{{ asset('assets/images/favicon.png') }}">

        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
        <script defer src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>

        <link rel="stylesheet" href="{{ asset('assets/fontawesome/css/all.min.css') }}">
        <script defer src="{{ asset('assets/fontawesome/js/all.min.js') }}"></script>

        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {#{% block importmap %}{{ importmap('app') }}{% endblock %}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
