<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_home_index') }}"><i class="fas fa-comments me-2"></i>SymfonyChat</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            {% if currentRoute is not defined %}
                {% set currentRoute = "" %}
            {% endif %}
            <div class="navbar-nav">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="nav-link {% if currentRoute == 'app_chat_index' or currentRoute == 'app_chat_view' %}active{% endif %}" href="{{ path('app_chat_index') }}">Chats</a>
                {% endif %}
            </div>
            <div class="navbar-nav ms-auto">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle p-0 d-flex align-items-center" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown">
                            <img class="me-1" src="{{ asset('assets/images/profilePicture.png') }}" style="border-radius: 50%;" alt="profilePicture" height="35px" width="35px">
                            <span class="mx-1 mb-0">{{ app.user.username }}</span>
                            {% if app.user.verified %}
                                <img width="17px" height="17px" class="verifiedBadge" src="{{ asset('assets/images/verified.svg') }}" alt="verifiedIcon">
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end mt-1" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" href="">
                                    <i class="fas fa-cog me-2"></i>Settings
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" href="{{ path('app_logout') }}">
                                    <i class="fas fa-sign-out-alt me-2"></i>Logout
                                </a>
                        </ul>
                    </div>
                {% else %}
                    <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                    <a class="nav-link" href="{{ path('app_register') }}">Register</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>