{% extends 'base.html.twig' %}

{% block title %}SymfonyChat: Administration{% endblock %}

{% block body %}
    {{ include('header.html.twig') }}

    <div class="container mt-5">
        <div class="title">
            <h3><i class="fas fa-ban me-3"></i>Administration</h3>
            <p>This is a list of all terminations on SymfonyChat.</p>
        </div>
        <div class="content mt-4">
            <table class="table table-striped border">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Issued by</th>
                    <th>Reason</th>
                    <th>Status</th>
                    <th>Valid until</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for termination in terminations %}
                    <tr>
                        <td>{{ termination.recipient.username }}</td>
                        <td>
                            {% if termination.issuer is not null %}
                                {{ termination.issuer.username }}
                            {% else %}
                                <i class="fas fa-computer me-2"></i>Automated
                            {% endif %}
                        </td>
                        <td>{{ termination.reason }}</td>
                        <td>{{ termination.status }}</td>
                        <td>
                            {% if termination.validUntil is not null %}
                                {{ termination.validUntil|date('d.m.Y H:i') }}
                            {% else %}
                                PERMANENT
                            {% endif %}
                        </td>
                        <td>
                            <a href="" class="btn btn-primary"><i class="fas fa-street-view me-2"></i>View</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagination d-flex justify-content-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="{% if (currentPage - 1) > 0 %}{{ path('app_admin_violations', { 'page':currentPage-1 }) }}{% else %}{{ path('app_admin_violations', { 'page':1 }) }}{% endif %}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        {% if (currentPage - 1) > 0 %}
                            <li class="page-item"><a class="page-link" href="{{ path('app_admin_violations', { 'page':currentPage-1 }) }}">{{ currentPage - 1 }}</a></li>
                        {% endif %}
                        <li class="page-item active"><a class="page-link">{{ currentPage }}</a></li>
                        {% if (currentPage + 1) <= maxPage %}
                            <li class="page-item"><a class="page-link" href="{{ path('app_admin_violations', { 'page':currentPage+1 }) }}">{{ currentPage + 1 }}</a></li>
                        {% endif %}

                        <li class="page-item">
                            <a class="page-link" href="{% if (currentPage + 1) <= maxPage %}{{ path('app_admin_violations', { 'page':currentPage+1 }) }}{% else %}{{ path('app_admin_violations', { 'page':maxPage }) }}{% endif %}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}